@charset "UTF-8";

.board-view{
   margin: 0 auto;
   width: 960px;
   padding: 2px;
   border-collapse: collapse;
}
.board-view th,.board-view td{
   border-bottom: 1px dashed grey ;
}
.view_button{
   width: 960px;
   margin: 0 auto;
   margin-top: 10px;
}
.view_writer th{
   font-size: 18px;
}
.view_content{
   vertical-align: top;
}
#view_an_btn{
    width: 960px;
    margin: 20px auto;
    display:flex;
    justify-content: space-between;
}
.view-flex-item{
	display: inline-block;
}
.view_button ul{
   display: flex;
   padding-inline-start: 0;
}
.view_button ul li{
   list-style: none;
}
.view_button ul li:nth-child(2){
   margin-left: 20px;
   
}
.view_button ul li:nth-child(3){
   margin-left: auto;
   margin-right: 20px;
}
#like-btn,#like-btn-login{
	font-size: 24px;
	color:crimson;
	cursor:pointer;
	position: relative;
	right:10px;
}
.view-title{width:560px;text-align: left}
.view-writer{width:180px;}
.view-date{width:120px;}
div.view-item {
    width: 960px;
    margin: 0 auto;
    border-bottom: 1px dashed grey;
}
.view-item:last-child{
    margin-bottom: 20px;
}
.view-content{
    padding: 10px 0;
}
.board-view-info{
    display: flex;
    padding-inline-start: 0;
}
.board-view-info li{
    list-style: none;
    font-weight: bold;
}
.board-view-info li:nth-child(2){
    margin-left: auto;
}
.board-view-info li:last-child{
    margin-left: 20px;
}
.download{
    position: relative;
    cursor: pointer;
    border:none;
    outline: none;
    background: ghostwhite;
    font-size: 16px;
}
.download-dropbox{
    position: absolute;
    cursor: default;
    right: 0;
    padding-inline-start: 0;
    margin: 0;
    padding: 5px;
    text-align:left;
    transform: perspective(1000px) rotateX(-90deg);
    transform-origin: top;
    transition: 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.download-dropdown ul.download-active {
    transform: perspective(1000px) rotateX(0deg);
}
.download-dropbox li{
    list-style: none;
}
.download-dropbox li a{
	text-decoration: none;
	color:grey;
}
.download-dropbox li a:hover{
	border-bottom:1px solid grey;
}
.download-dropdown{
    width: 960px;
    position: absolute;
    text-align: right;
    left: 20px;
}