@charset "UTF-8";

.wrapper-body{
    width: 960px;
    margin: 0 auto;
}
.title-well {
    padding-left: 19px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    margin-bottom: 15px;
}
.title-input,
.title-file {
    display: flex;
    margin-bottom: 15px;
}
.title-input input{
	position:relative;
	top:3px;
}
.title-label {
    margin-top: 7px;
    width: 50px;
    text-align: left;
}
.title-in {
    margin-top: 7px;
}
.title-select {
    width: 100px;
    height: 20px;
}
.title-title-input {
    width: 910px;
    height: 20px;
}
.title-text {
    width: 958px;
    height: 400px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.between{
    justify-content: space-between;
}
.title-file{
	margin-top:20px;
}
.board-write-err{
	visibility: hidden;
}
.drag-box{
	width:960px;
	height:100px;
	vertical-align:middle;
	margin: 15px auto;
	border:1px solid #00b894;
	box-sizing: border-box;
}
.drag-comment{
	text-align:center;
	line-height: 85px;
	font-size:30px;
}
.drag-box span{
	
}