@charset "UTF-8";

.board-list{
    width: 960px;
    margin: 20px auto;
    border-collapse: collapse;
}
.board-list th,.board-list td{
    border-bottom: 1px solid #95a5a6;
    height:30px;
}
.board-list th{
    border-top: 1px solid #95a5a6;
}
.center{
    text-align: center;
}
.title{
    padding-left: 5px;
}
.recordNum{
    width:80px;
}
.board-title{
    width: 590px;
}
.board-writer{
    width:150px;
}
.board-regdate{
    width:80px;
}
.board-viewcnt{
    width:60px;
}
.board-content{
    font-size: 14px;
}
.pagination{
    display: flex;
    justify-content: center;
}
.pagination li{
    list-style: none;
    margin: 10px 10px;
    padding: 0 5px;
    color:#341f97;
    border:1px solid #16a085
}

.pagination li a{
	text-decoration: none;
	color:inherit;
}
.pagination li.active{
	background: #16a085;
}
.list-search{
	margin:20px auto 0 auto;
	width:960px;
	height:30px;
	display: flex;
	justify-content: space-between;
}
.flex-item{
	display: inline-block;
}
.list-search select,
.list-search input{
	outline: none;
}
.list-search select{
	height: 28px;
	
}
.list-search input{
	position:relative;
	bottom:1px;
	height:28px;
	font-size:17px;
}
.board-sort a{
	text-decoration: none;
	color:inherit;
}
#board-new{
	font-size:12px;
	color:#341f97;
	animation-name:twinkle;
	animation-duration:1.2s;
	animation-iteration-count:infinite;
}
@keyframes twinkle{
	0%   {opacity:0;}
	50% {opacity:1;}
	100%{opacity:0;}
}