@charset "UTF-8";

div.wrapper-header {
	background-color: #00b894;
	height: 45px;
	width: 100%;
	color: #fff;
	font-size: 25px;
}

.header-text {
	font-size: 25px;
	color: #fff;
	padding-left: 20px;
}

.review-wrapper {
	display: flex;
	width: 960px;
	margin: 20px auto;
	justify-content: space-between;
}

.review-item {
	display: inline-block;
	width: 460px;
	border: 2px solid #00b894;
}

.review-content {
	width: 440px;
	margin: 20px auto;
	border-bottom: 1px solid #00b894;
}

.game-score {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	margin-right: 10px;
}
.high-score{
	background: #00b894;
	border: 1px solid #00b894;
}
.middle-score{
	background: yellow;
	border: 1px solid yellow;
}
.low-score{
	background: crimson;
	border: 1px solid crimson;
}

.common-score{
	background: blue;
	border: 1px solid blue;
}
.div-more{
	margin-bottom: 10px;
	margin-left: 5px;
}

.rank-item{
    width: 550px;
    margin: 20px auto;
    border: 2px solid #00b894;
}

.award-content{
    width: 940px;
    margin: 0 auto;

}
.gameinfo-items{
    display: flex;
    width:960px;
    margin: 20px auto;
    border: 2px solid #00b894;
}

.score-items{
    margin-left: 30px;
    display: block;
}

.game-title{
        font-size: 20px;
        font-weight:bold;
        color: #00b894;
    }

.score{
        margin-top:10px;
        font-weight:bold;
        font-size:15px;
       }
div.award-wrapper-header {
       background-color: #00b894;
       height: 25px;
       width: 100%;
       color: #fff;
   }
.award-header-text {
    font-size: 15px;
    color: #fff;
    padding-left: 20px;
}