@charset "UTF-8";

.flex-wrapper {
	width: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

div.g-card {
	width: 170px;
	height: 300px;
	margin: 20px 10px;
	cursor: pointer;
}

.g-card-item {
	text-align: center;
	width: 170px;
}

.g-card-item img {
	width: 170px;
	height: 160px;
}

.g-card-header {
	font-weight: bold;
}

.g-card-content {
	font-size: 13px;
}

.game-name {
	font-weight: bold;
	color: cadetblue;
}

.a-common{
	text-align: center;
	justify-content: center;
}


.c-cards {
	display: flex;
}

.c-cards a {
	text-decoration: none;
	color: black;
}

.game-nav {
	display: flex;
	width: 900px;
	justify-content: space-between;
}

.game-nav li {
	list-style: none;
	cursor: pointer;
}