@charset "UTF-8";

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background: ghostwhite;
	color: #393e46;
}

div#header {
	display: flex;
	justify-content: space-between;
	min-width: 1000px;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	z-index: 997;
	background: #00b894;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

div#header img {
	cursor: pointer;
}

div.wrapper {
	position:relative;
	width: 1000px;
	border: 2px solid #00b894;
	margin: 100px auto 60px auto;
	box-sizing: border-box;
}

div.g-wrapper {
	width: 1000px;
	border: 2px solid #00b894;
	margin: 100px auto 60px auto;
	box-sizing: border-box;
	height: 555px;
}

div.wrapper-reply {
	width: 960px;
	border: 2px solid #00b894;
	margin: 20px auto 20px auto;
}

div.wrapper-header {
	background-color: #00b894;
	height: 45px;
	width: 100%;
	color: #fff;
	font-size: 25px;
}

div.wrapper-content {
	width: 960px;
	margin: 0 auto;
}

.header-text {
	font-size: 25px;
	color: #fff;
	padding-left: 20px;
}

.flex-wrapper {
	display: flex;
}

.flex-item {
	height: 300px;
	display: inline-block;
}

.item1 {
	width: 760px;
	margin: 20px 10px 20px 20px;
}

.item2 {
	width: 180px;
	margin: 20px 20px 20px 10px;
}

.flex-item li {
	list-style: none;
	margin: 35px 0 35px 0;
	font-size: 20px;
	cursor: pointer;
}

.card {
	display: inline-block;
	width: 100px;
	margin: 50px 10px 30px 10px;
}

div#footer {
	background-color: #bdc3c7;
	position: absolute;
	margin-top: auto;
	width: 100%;
	height: 100px;
}

.footer-ul {
	display: flex;
	padding-inline-start: 0;
}

.footer-ul li {
	list-style: none;
	margin: 0 10px;
	color: #393e46;
}

.footer-addr {
	margin: 0 10px;
    color: #393e46;
}


.footer-ul li:nth-child(4) {
	margin-left: auto;
}
.footer-ul li a{
	text-decoration: none;
	color:inherit;
	font-weight: bold;
}

.footer-ul li i {
	font-size: 20px;
}

div.right {
	text-align: right;
}

div.nav {
	position: relative;
}

div.nav span {
	margin: 0 10px;
}

.dropdown {
	position: absolute;
	top: 20px;
	left: 40%;
}

.member-nav {
	position: absolute;
	top: 5px;
	right: 2%;
}

.header-button {
	border: none;
	outline: none;
	font-size: 22px;
	position: relative;
	text-align: center;
	background: transparent;
	cursor: pointer;
	transition: 0.5s;
	width: 150px;
	height: 30px;
	color: #393e46;
	margin-right: 10px;
}

.header-button::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid black;
	transform: scaleX(0);
	transform-origin: right;
}

.header-button:hover::after {
	transform: scaleX(1);
	transition: transform 0.5s;
	transform-origin: left;
}

.dropdown ul {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 150px;
	transform-origin: top;
	transform: perspective(1000px) rotateX(-90deg);
	transition: 0.5s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.dropdown ul.active {
	transform: perspective(1000px) rotateX(0deg);
}

.dropdown ul li {
	list-style: none;
	cursor: pointer;
}

.dropdown ul li a {
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid grey;
	color: #2c3e50;
	transition: 0.5s;
	background: ghostwhite;
}

.dropdown ul li a:hover {
	background: #00b894;
}

a.a-button {
	position: relative;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.5s;
	box-sizing: border-box;
	cursor: pointer;
}

a.a-member {
	padding: 3px 7px;
	font-size: 20px;
}

a.a-common, a.a-delete {
	padding: 2px 6px;
}

a.a-modal-common {
	padding: 2px 20px;
}

a.a-modal-delete {
	padding: 2px 32px;
}

a.a-button::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transform: scaleX(0);
	transition: transform 0.5s;
	transform-origin: right;
}

a.a-button:hover::after {
	transform: scaleX(1);
	transition: transform 0.5s;
	transform-origin: left;
}

a#join-btn, a#login-btn, a#logout-btn, a#mypage-btn {
	top: 15px;
	left: 10px;
}

a.a-member {
	color: #341f97;
	border: 2px solid #341f97;
}

a.a-member::after {
	background: #341f97;
}

a.a-button:hover, a#cancel-btn:hover, i.i-btn:hover {
	color: #fff;
}

#top-btn {
	position: fixed;
	color: #00b894;
	bottom: 110px;
	right: 20px;
	font-size: 35px;
	display: none;
	cursor: pointer;
}

a.a-common, a.a-comment, a.a-modal-common {
	color: #546de5;
	border: 2px solid #546de5;
}

a.a-common::after, a.a-comment::after, a.a-modal-common::after {
	background: #546de5;
}

a#cancel-btn, a.a-delete, a.a-modal-delete, a.a-delete-comment {
	color: crimson;
	border: 2px solid crimson;
}

a#cancel-btn::after, a.a-delete::after, a.a-modal-delete::after, a.a-delete-comment::after
	{
	background: crimson;
}

img {
	max-width: 100%;
}

.more {
	width: 960px;
	margin: 10px auto;
	text-align: right;
}

.g-more {
	width: 960px;
	margin: 80px auto;
	text-align: right;
}

.home-game-nav {
	width: 960px;
	margin: 10px auto;
	display: flex;
	justify-content: space-around;
}

.home-game-nav li {
	list-style: none;
	font-weight: bold;
}

.home-game-nav li span.platform:hover{
	color:black;
	font-weight: bold;
}

.home-game-nav li span.platform {
	cursor: pointer;
}

.s-box-comment {
	width: 1000px;
	height: 30px;
	margin: 0 auto 10px auto;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #34495e;
}

