@charset "UTF-8";

.s-box-wrapper{
    width: 50px;
    margin: 0 auto;
}
.middle{
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}
.s-box-input{
    width: 60px;
    height: 60px;
    background: none;
    border-radius: 50%;
    border: 4px solid #00b894;
    box-sizing: border-box;
    outline: none;
    transition: width 0.4s ease-in-out,
                border-radius 0.8s ease-in-out,
                padding 0.2s;
    transition-delay: 0.4s;
    color: #00b894;
    font-size: 20px;
}
.inclicked{
    width: 1000px;
    border-radius: 0;
    padding: 0 15px;
    padding-right: 40px;
}
.s-box-button{
    position: absolute;
    width:60px;
    height:60px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background:none;
    border: none;
    outline: none;
    cursor: pointer;
}
.s-box-button::before{
    content: "";
    width: 4px;
    height: 25px;
    background: #00b894;
    position: absolute;
    transform: rotate(-45deg);
    bottom: -10px;
    right: -1px;
    transition: 0.3s;
}
.close::before,.close::after{
    content: "";
    width: 4px;
    height: 25px;
    background: #00b894;
    position: absolute;
    bottom: 18px;
    right: 28px;
    transition: 0.3s;
}
.close::before{
    transform: rotate(-45deg);  
}
.close::after{
    transform: rotate(45deg);
}
#search-result{
    position: absolute;
    width: 1000px;
    top:170px;
    box-sizing: border-box;
    transform: translate(-47.5%,0);
    background: ghostwhite;
    z-index:995;
}
.search-result{
    border: 4px solid #00b894;
}
.search-result-item{
    width: 980px;
    margin: 0 auto;
    font-size: 20px;
    border-bottom: 2px solid #00b894;
    cursor: pointer;
}
.search-result-item:last-child {
	margin-bottom: 10px;
}